%p Thank you, we received your order.
%p We print and post most print products within 24 hours of receiving an order, Monday to Friday.
%p Orders received on Friday afternoons may not quite make it…which means they may not be printed and posted until Monday morning! 

%p We use the Australia Post standard delivery service, the delivery time is up to 6 business days - if you need your photos earlier please email us with your order number so we can arrange Express Post with you.

%p Please check the delivery address you have provided us:
%p #{@order.name}
%p #{@order.address}
%p #{@order.suburb}, #{@order.state}
%p #{@order.postcode}

%p If this is not correct please reply to this email within 1 hour.

%p We will send you another email when your order has been posted.

%br
Thanks,
Team Pocket Prints
